@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
    --color: #343434;
    --primary: linear-gradient(117.77deg, #fca404 -65.24%, #fcd304 91.15%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    color: var(--color);
    font-weight: 500;
}
dl,
ol,
ul,
p {
    margin-top: 0;
    margin-bottom: 0 !important;
    padding: 0 !important;
}
a{
    color: var(--color);
}
body {
    width: 100%;
    /* max-width: 1920px; */
    margin: 0 auto;
}
.scale{
    transition: all .4s ease-in-out;
    cursor: pointer;

}
.scale:hover{
    transform: scale(1.05);
}
.wrapper{
    margin: 0 5rem;
}
a {
    text-decoration: none !important;
}
.logo-img img {
    width: 90px;
}
.menu {
    margin-top: 30px;
    background: #fff;
    padding: 2rem 5rem;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 99;
}
.menu .items {
    display: flex;
    justify-content: space-between;
}
.shActive {
    background: #fff;
    box-shadow: 0px 4px 23px rgba(219, 219, 219, 0.25);
}
.text-black-primary {
    color: var(--color);
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    align-content: center;
}
.menu ul li {
    padding: 0 1rem;
    transition: 0.5s;
}

nav ul li:hover {
    transform: scale(1.1);
}

nav ul li a:hover,
nav ul li a.active {
    color: var(--primary);
}

nav ul li a {
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #000000;
}

.menu .logo {
    font-weight: bold;
    font-size: 27px;
    line-height: 34px;
    color: #b7a261;
}
/*navbar */
.menu .brand {
    font-size: 1.2em;
    color: #333;
}
.menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

/*hummberger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    position: relative;
}
.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background: #000;
    border-radius: 3px;
    transition: all 0.5s;
}
.menu-toggle input {
    display: block;
    position: absolute;
    background-color: #000;
    width: 40px;
    height: 28px;
    left: -10px;
    top: -4px;
    cursor: pointer;
    opacity: 0;
    z-index: 99;
}

/*hummbuger animation*/
.menu-toggle span {
    background-color: var(--color);
}
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: var(--color);
    z-index: 2;
    transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: var(--color);
    z-index: 2;
    transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

/* Dropdown */
li.dropdown {
    z-index: 99;
    /* position: relative; */
}
ul.dropdown-menu {
    position: absolute;
    margin-top: 10px;
    min-width: 120px;
}
ul.dropdown-menu li {
    display: block !important;
    white-space: nowrap;
}
.dropdown ul.dropdown-menu li {
    padding: 6px 20px;
}
.dropdown ul.dropdown-menu li:hover {
    color: #ffffff;
    transform: scale(1.02) !important;
    background: linear-gradient(117.77deg, #fca404 -65.24%, #fcd304 91.15%);
}

/* Display none by Default */
ul.dropdown-menu {
    display: none;
}

.gradient-text {
    background-image: var(--primary);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.btn-primary-merintis{
    border: 2px solid #fca404  !important;
    margin: 0 1rem;
    padding: 1px 20px !important;
    
}
.btn-primary-solid-merintis{
    background: var(--primary);
    padding: 2px 20px !important;
}
.btn-primary-merintis a{
    color: #fca404 !important;
}
.btn-primary-solid-merintis a{
    color: #ffffff;
}
.btn-primary-solid-merintis a:hover{
    color: #ffffff;
}
.mobile-show,.footer-show{
    display: none;
}
/* top banner */
.top-header{
    padding: 2px 5rem;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--primary);
    width: 100%;
    z-index: 99;
    height: 30px;
}

.auth span{
    margin-left: 10px;
    color: #fff;
}
.auth span a{
    color: #fff;
    padding: 0 5px;
}
/* header */
.header{
    margin-top: 9.8rem ;
}
.box{
    animation-duration: 1.5s;
        animation-iteration-count: infinite;

}
.bounce-2 {
    animation-name: bounce-2;
    animation-timing-function: ease;
}
@keyframes bounce-2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}
.text-header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mt-6{
    margin-top: 1.5rem;
}
.carousel-indicators .active{
    background: var(--primary);
}
/* content */
.title-content{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.text-content p{
    font-weight: bold;
    font-size: 18px;
}
.text-content h1{
    margin-top: 6px;
    width: 340px;
    font-weight: bold;
    font-size: 24px;
    color: #343434;
    
}
.content{
    margin-top: 2rem;
}
.kategori p{
    position: absolute;
    top: -.9rem;
    left: 0;
    background: var(--primary);
    width: auto;
    padding: 5px  10px !important;
    border-radius: 0px 10.7338px 10.7338px 0px;
    font-weight: medium;
    font-size: 14px;
    line-height: 20px;
    color :#fff;
}
.card{
    transition: all .4s ease-in-out;
    cursor: pointer;

}
.card:hover{
    transform: scale(1.05);
}
.card-title{
    margin-top: 1rem;
    font-size: 17px;
    color: var(--color);
    font-weight: bold;
}
.card .price,.card .date{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 1rem !important;
    
}
.card .price p,.card .date p{
    margin-left: 10px;
    font-weight: 600;
    font-size: 15px;
    color: var(--color);
}
.content .card{
    box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
    border-radius: 23px;
}
.content .btn-primary-merintis, .artikel .btn-primary-merintis{
    display: none;
}
/* artikel */
.artikel{
    margin-top: 2rem;
}
.artikel .card{
    border: 0px solid transparent !important;
}
.artikel .post {
    padding:.5rem 15px;
}
.artikel .post span{
    font-size: 13px;
    line-height: 19px;
    color: #A0A0A0;
    padding-top: 1rem !important;
}
.artikel .post h1{
    margin-top: 10px;
    font-weight: bold;
    font-size: 22px;
    color: #343434;
}
.artikel .post p{
    margin-bottom: 20px !important;
}
.artikel .post a{
    margin-top: 20px !important;
}
.artikel .card:hover{
    box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08) !important;
}
footer{
    margin-top: 4rem;
}
footer .logo-footer{
    text-align: center;
}
footer .logo-footer img {
    margin: auto;
    width: 130px;
}
footer .logo-footer p {
    font-weight: 500;
    font-size: 1em;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    padding: 20px 0 !important;
}
footer .menu-footer h1 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 20px;
}
footer .menu-footer ul {
    list-style: none;
}
footer .menu-footer ul li {
    padding-bottom: 10px;
}
footer .menu-footer ul li a {
    color: #8b8ba5;
    font-weight: 500;
    font-size: 13px;
}
.footer {
    margin: 0 !important;
    text-align: center;
}
.footer hr {
    border: 1px solid #dddddd;
}
.footer p {
    padding-top: 1rem;
    color: #8b8ba5;
}
.accordion-button:not(.collapsed){
    color: #fff !important;
    background: var(--primary);
}

.accordion-button:focus{
    border-color : transparent !important;
    box-shadow:0px 4px 23px rgba(219, 219, 219, 0.25) !important;
}
.accordion-body ul li{
list-style: none;
margin:10px 0;
}
.accordion-body ul li a{
    color: var(--color);
}
.footer{
    margin-top: 1rem;
    background: var(--primary);
    padding: 1rem 0;
}
.footer p{
    color: #fff;
    font-weight: bold;
}
/* search */
.search{
    background: #fff;
    height: auto;
    width: 70%;
    box-shadow: 0px 5.36691px 10.7338px -5.36691px rgba(24, 39, 75, 0.12), 0px 7.15588px 21.4676px -3.57794px rgba(24, 39, 75, 0.08);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    padding:  1rem 30px ;
    padding-top: 30px;
    border-radius: 10px;
}
.form-control,
.form-select,
select{
    border: 1px solid #fca404 !important;
}
.register-select select{
    padding: 5px 12px;
}
.form-control:focus,
.form-select:focus,
select:focus{
    border: 1px solid #fca404;
    outline: none !important;
    box-shadow: none !important;
}
.mt-7{
    margin-top: 7rem;
}
/* visi-misi */
.visi-misi{
    width: 60% !important;
    margin: 0 auto;
    margin-top: 2rem;
}
.card-visi{
    background: #ffffff;
    height: 100%;
    box-shadow: 0px 5.36691px 10.7338px -5.36691px rgb(24 39 75 / 12%), 0px 7.15588px 21.4676px -3.57794px rgb(24 39 75 / 8%);
    text-align: center;
    border-radius: 10px;
    padding: 20px !important;
}
.visi-misi .col-lg-6:nth-child(2) .card-visi p{
    text-align: justify !important;
}
.card-visi h1{
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    text-transform: capitalize;
}
.tentang{
    background: #fff;
    height: auto;
    width: 70%;
    margin: 0 auto;
    margin-top: -5rem;
    box-shadow: 0px 5.36691px 10.7338px -5.36691px rgba(24, 39, 75, 0.12), 0px 7.15588px 21.4676px -3.57794px rgba(24, 39, 75, 0.08);
    z-index: 50;
    padding:  1rem 30px ;
    padding-top: 30px;
    border-radius: 10px;
}
.header-tentang {
    margin-top: 8rem;
}
.login{
    width: 50% !important;
    margin: 0 auto;
    margin-top:10rem;
}
.login h1{
    font-weight: 500;
    font-size: 31.4579px;
    line-height: 39px;
    text-transform: capitalize;
    color: #343434;
    text-align: center;

}
.login-with-sosmed{
    text-align: center;
    margin-top: 20px;
}
.or{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
}
.or p{
    margin: 0 20px;
}
.or span.hr{
    content: ' ';
    width: 28%;
    height: 2px;
    border-radius: 20px;
    background: #9B9B9B;
    
}
.form-menu{
    margin: 0 auto;
    margin-top: 20px ;

}
.form-menu form label{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #343434;
    padding: 10px 0;

}
.masuk {
    margin-top: 20px !important;
}
.masuk button{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
}
.masuk button:hover{
    color: #ffffff;
}
.register-disini{
    margin-top: 10px;
}
.register-disini a {
    color: var(--color);
}
.register-disini a:hover{
    color: var(--color);
}
.register-disini a span{
    font-weight: 700;
}
/* register */
.form-check{
    display: flex !important;
}

.form-check-input{
    border-radius: 50% !important;
    margin-right: 10px;
}
.perempuan{
    margin-left: 50px;
}
.form-check-input{
    background: transparent !important;
}
.form-check-input:checked {
    background-color: #fca404 !important;
    border-color: #fca404 !important;
}
.form-check-input:focus{
    outline: none !important;
    box-shadow: none !important;
}

/* artikel */
.artikel-banner{
    margin-top: 3rem;
}

/* details */
.gambar-details{
    height: 400px; 
    width: auto; 
    margin: 0 auto;
}
.details{
    margin-top: 8rem;
}
.title-details{
    text-align: center;
}
span.vertikal{
    width: 25px;
    background: #343434;
    height: 1px;
    border-radius: 20px;
    margin: 0 10px;
    transform: rotate(90deg);
}
.info-details p{
    font-size: 14px;
    margin-left: 10px;
}
.info-details{
    margin-top: 20px;
}
.gambar-details{
    margin-top: 30px !important;
}
.text-detail-content{
    margin-top: 20px;
}
/* pembicara */
.pembicara img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px !important;
}
.pembicara h1{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 2rem;
}
.pembicara h3{
    font-weight: 700;
    font-size: 19px;
    color: #343434;
    transform: matrix(1, 0, -0.01, 1, 0, 0);
}
.pembicara p{
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #343434;
}
.w-75-lg{
    width: 75%;
}
.table-jadwal{
    overflow-x: hidden  !important;
}
.pembicara table thead{
    background: var(--primary);
}
.pembicara table thead tr th{
    color: #fff;
    font-weight: 600;
}
tbody, tfoot, th, thead, tr{
    border-style: none !important;
}
.details-sosmed span{
    padding: 0 10px;
}
.details-sosmed span svg{
    width: 25px;
    height: 25px;
}
.desktop-show{
    display: block !important;
}
.mobile-show-details{
    display: none !important;
}

.post-entry{
    z-index: 5;
}

/* details artikel */

.same-height{
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    transform: translate(-50%, -50%) !important;
}

/* responsive */
@media (max-width: 1136px){
    .tentang{
        margin-top: -8rem;
    }
}
@media (max-width: 1199px){
    .or span.hr{
        width: 23%;
        
    }
    .tentang{
        margin-top: -4rem;
    }
}
@media (max-width: 1000px){
    .header{
        margin-top: 5rem;
    }
    .tentang{
        margin-top: -6rem;
    }
}
@media (max-width: 991px){
    
    .login{
        width: 70% !important;
        margin-top: 8rem;
    }
    .tentang{
        margin-top: -3rem;
        width: 90% !important;
    }
    .mt-7{
        margin-top: 12rem;
    }
    .search{
        margin-top: 4rem;
    }
    footer{
        text-align: center;
    }
    .footer-show{
        margin-top: 30px !important;
        display: block;
    }
    .menu-footer{
        display: none;
    }
}
@media (max-width: 900px){
    .visi-misi{
        width: 90% !important;
    }
    .menu {
        position: fixed;
        width: 100vw;
        top: 0;
        padding: 25px 10px !important;
        height: auto;
    }
    .menu-toggle {
        display: flex;
        position: absolute;
        right: 30px !important;
        top: 35px;
    }

    .menu .logo {
        position: absolute;
        right: 20px !important;
        left: 20px;
        width: 50%;
        z-index: 99;
    }
    .menu ul li {
        padding: 20px 0;
    }
    .menu ul a.btn {
        margin: 20px 0;
    }
    .mt-dropdown{
        margin-bottom: 12rem;
    }
    .menu ul.dropdown-menu{
        text-align: center;
        display: none;
        position: absolute !important;
        top: 15rem;
        left: -3.5rem;
        height: auto;
        width: 200px !important;
        opacity: 1 !important;
    }
    .menu ul {
        display: flex;
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: #fff;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        transform: translateY(-100%);
        opacity: 0;
        transition: all 1s;
    }
    .menu ul.slidess {
        opacity: 1;
        transform: translateY(0);
    }
    .logo-img img{
        margin-left: 30px !important;
    }
    .top-header{
        padding: 0 40px !important;
    }
    .text-header{
        width: 70% !important;
    }
    .text-header p{
        font-size: 18px;
        margin-bottom: 10px !important;
    }
    .text-header h1{
        font-size: 30px;
    }
}
@media (max-width: 768px) {
    .desktop-show{
        display: none !important;
    }
    .or span.hr{
        width: 24%;

        border-radius: 0 !important;
        
    }
    .login{
        width: 90% !important;
    }
    .visi-misi{
        margin-top: 1rem;
    }
    .mt-7{
        margin-top: 18rem;
    }
    .search{
        margin-top: 7rem;
    }
    .header{
        margin-top: 6.5rem;
    }
    .top-header{
        padding:0 10px !important;
    }
    .sosmed{
        display: none;
    }
    .btn-primary-solid-merintis{
        margin-top: 20px;
    }
    .mobile-show{
        display: block;
    }
    nav ul li a {
        color: var(--color);
    }
   
}
@media (max-width: 700px) {
    .text-header p{
        font-size: 18px;
        margin-bottom: 10px !important;
    }
    .text-header h1{
        font-size: 35px;
    }
    .text-header span svg{
        width: 16px;
    }
    .card-visi h1{
        font-size: 25px !important;
    }
}
@media (max-width : 818px){
    .tentang {
        margin-top: -3rem;
    }
}
@media (max-width: 575px){
    .pembicara img{
        margin-right: 0 !important;
        margin-bottom: 20px;
    }
    .sosmed-details{
        flex-direction: column;
    }
    .sosmed-details{
        text-align: center;
    }
    .details-sosmed{
        margin-top: 10px !important;
        text-align: center;
    }
    .table-jadwal{
        overflow-x: scroll !important;
    }
    .text-detail-content p{
        font-size: 15px;
    }
    .details h2 button{
        font-size: 14px !important;

    }
    .details .accordion-body{
        font-size: 15px;
    }
    .gambar-details{
        height: 200px;
    }
    .w-75-lg{
        width: 100% !important;
    }
    .text-pembicara{
        flex-direction: column;
        text-align: center;
    }
    .pembicara h1{
        font-size: 20px;
    }
    .pembicara h3{
        font-size: 14px;
    }
    .pembicara p{
        font-size: 12px;
        text-align: center !important;
    }

    .text-header h1{
        font-size: 15px !important;
    }
    .tentang{
        margin-top: 2rem !important;
    }
    
    .py-sm-10{
        padding: 0 1.2rem !important; 
    }
}
@media (max-width: 540px){
    .login h1{
        font-size: 25px;
    }
    .form-menu .gradient-text{
        font-size: 15px;
    } 
    .register-disini a{
        font-size: 13px;
    }
    .masuk{
        margin-top: 0 !important;
    }
    .or{
        flex-direction: column;
    }
    .or span.hr{
        display: none;
    }
    .tentang p{
        font-size: 15px !important;
    }
    .logo-img img{
        margin-left: 10px !important;
    }
    .text-header{
        margin-top: 1rem;
    }
    .text-header span svg{
        display: none;
    }
}
@media (max-width: 500px){
    .title-details h1{
        font-size: 23px;
    }
    .title-details p{
        font-size: 15px;
    }
    .info-details{
        flex-direction: column;
    }
    .info-details div:nth-child(1),
    .info-details div:nth-child(3){
        margin-bottom: 20px;
    }
    .info-details span.vertikal{
        display: none !important;
    }
    .info-details p{
        font-size: 15px;
        margin-left: 13px;
    }
    .info-details svg{
        width: 23px !important;
        height: 23px !important;
    }
    .card-visi h1{
        font-size: 23px !important;
    }
    .card-visi p{
        font-size: 15px !important;
    }
    .header-tentang{
        margin-top: 7rem;
    }
    .mt-7{
        margin-top: 19rem;
    }
    .search{
        width: 90%;
        margin-top: 8rem;
    }
    .content{
        margin-top: 1rem;
    }
    .content .btn-primary-merintis{
        width:50%;
        margin: 0 auto;
        display: block;
        margin-top: 1rem;
    }
    .artikel .btn-primary-merintis{
        width:60%;
        margin: 0 auto;
        display: block;
        margin-top: 1rem;
    }
    
    .title-content .btn-primary-merintis{
        display: none;
    }
    .title-content{
        margin-top: 2rem !important;
        text-align: center;
    }
    .text-content h1{
        width: 100%;
    }
    .auth svg{
        width: 16px;
    }
    .auth span {
        font-size: 12px;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon{
        width: 1rem !important;
    }
    .carousel-indicators [data-bs-target]{
        width: 15px !important;
        border-bottom: 0px !important;
    }
    .text-header span svg{
        width: 10px;
        display: none;
    }
    .text-header{
        margin-top: 7px !important;
        width: 70% !important;
    }
    .text-header p{
        font-size: 10px;
        margin-bottom: 7px !important;
    }
    .text-header h1{
        font-size: 25px;
    }
    .header{
        margin-top: 6.5rem;
    }
    .logo-img img{
        width: 50px;
    }
    .menu-toggle{
        top: 28px;
        right: 10px !important;
    }
}